.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

.error {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: orangered;
}  
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.card {
    animation: slide-up 1s ease;
    position: relative;
    border: 1px solid gray;
    display: flex;
    margin: 10px;
    width: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 12px 0px #c5c5c5;
    border-radius: 3px;
    background: #80808021;
    @include tablet {
        width: 100%;
        flex-direction: column;
      }
    @include mobile {
        width: 100%;
        flex-direction: column;
      }
}
.close-card {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 2em;
    line-height: 0.5em;
    color: #80808063;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
     &:hover{
         font-weight: 800;
         color: black;
     }
}
.card-image {
    padding: 10px;
    @include mobile {
        max-width: 100%;
      }
}
.card-image img {
    border: 1px solid transparent;
    @include mobile {
        width: 100%;
    }
}
.title {
    margin: 10px 0px;
    font-weight: 600;
    /* max-width: 90%; */
    font-size: 1.5rem;
    padding: 0px 5px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
    border-image: linear-gradient(to left, #808080 0%, #f2f2f2 100%);
    border-image-slice: 1;
}
.synopsis {
    padding: 5px;
    padding-right: 12px;
    margin-bottom: auto;
}
.card-text{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.genres {
    margin: 5px;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
}
.genre {
    margin-right: 4px;
    margin-bottom: 4px;
    background: #7f8992;
    color: white;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 1px 1px 5px #00000066;
    &:hover{
        background: #2196F3;
        cursor: pointer;
    }
}
.genre:last-child {
    margin-top: auto;
}
.loading {
    display: block;
    background: #efefef;
    color: grey;
    padding: 15px 20px;
    font-size: 2em;
    border: 1px solid gray;
    margin: auto;
    margin-bottom: 30px;
    width: 175px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    box-shadow: 2px 2px 12px 0px #c5c5c5;
    border-radius: 3px;
}